body,
html {
    width: 100%;
    height: 100%;
    margin: 0px;
}

.page1 {
    height: 100%;
    width: 100%;
}


/* .page2 {
    height: 100%;
    width: 100%;
}

.page3 {
    height: 100%;
    width: 100%;
}

.page4 {
    height: 100%;
    width: 100%;
}

.page5 {
    height: 100%;
    width: 100%;
} */

.bg1 {
    height: 100vh;
    width: 100vw;
    background: rgb(6, 2, 83);
    background: linear-gradient(90deg, rgba(6, 2, 83, 1) 0%, rgba(2, 2, 51, 1) 44%, rgba(1, 16, 19, 1) 100%);
}


/* .bg2 {
    height: 100vh;
    width: 100vw;
    background: rgb(6, 2, 83);
    background: linear-gradient(90deg, rgba(6, 2, 83, 1) 0%, rgba(2, 2, 51, 1) 44%, rgba(1, 16, 19, 1) 100%);
}

.bg3 {
    height: 100vh;
    width: 100vw;
    background: rgb(6, 2, 83);
    background: linear-gradient(90deg, rgba(6, 2, 83, 1) 0%, rgba(2, 2, 51, 1) 44%, rgba(1, 16, 19, 1) 100%);
}

.bg4 {
    height: 100vh;
    width: 100vw;
    background: rgb(6, 2, 83);
    background: linear-gradient(90deg, rgba(6, 2, 83, 1) 0%, rgba(2, 2, 51, 1) 44%, rgba(1, 16, 19, 1) 100%);
}

.bg5 {
    height: 100vh;
    width: 100vw;
    background: rgb(2, 1, 32);
} */

.nav-bar {
    height: fit-content;
    width: 100%;
}

.nav-top {
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
    justify-content: space-between;
    display: flex;
    position: sticky;
}

.logo {
    margin-top: 9px;
    font-size: 25px;
    color: aliceblue;
    font-weight: 600;
    margin-left: 5px;
}

.subLogo {
    margin-left: -260px;
    font-size: 25px;
    color: aliceblue;
    font-weight: 600;
}

.header-menu {
    position: absolute;
    margin-left: 250px;
    height: fit-content;
    width: fit-content;
    padding-top: 10px;
}

.btn1 {
    text-decoration: none;
    color: beige;
    font-size: 18px;
    margin-inline: 40px;
    font-weight: 500;
}

.icons {
    position: relative;
    height: fit-content;
    width: fit-content;
    padding-top: 10px;
    padding-left: 950px;
}

ion-icon {
    color: rgb(238, 238, 245);
    justify-content: space-between;
    height: 24px;
    width: 24px;
    margin-inline: 10px;
    --ionicon-stroke-width: 46px;
}

.signup {
    font-size: 14px;
    font-weight: 600;
    color: whitesmoke;
    height: 50px;
    width: 130px;
    border-radius: 25px;
    justify-content: center;
    border-color: antiquewhite;
    border-width: 1px;
    margin-right: 100px;
    background: rgb(6, 2, 83);
    background: linear-gradient(90deg, rgb(8, 1, 77) 0%, rgb(29, 15, 158) 64%, rgb(8, 1, 77) 100%);
}

#bgText {
    color: white;
    margin-top: -200px;
    z-index: 2;
    font-size: 1400%;
    font-weight: 900;
    margin-right: -300px;
    opacity: 0.5;
}

header {
    display: block;
}

.overlays {
    margin-left: -329px;
    margin-top: 70px;
    width: 100vw;
    display: inline-grid;
    justify-items: center;
}

#circle {
    z-index: 1;
    height: 400px;
    width: 400px;
    margin-left: -1400px;
    margin-top: 20px;
    opacity: 0.2;
}

#x {
    z-index: 3;
    position: absolute;
    height: 350px;
    width: 550px;
    margin-top: 25px;
    margin-left: 330px;
}

.main-content {
    margin-left: 90px;
    width: 75vw;
    z-index: 6;
    color: rgb(207, 190, 255);
}

.btn-last {
    display: flex;
}

.main-item {
    align-items: center;
    display: flex;
}

.main-content h1 {
    font-size: 80px;
    color: rgb(255, 255, 255);
    line-height: 80px;
    font-weight: 700;
}

.main-content p {
    line-height: 20px;
    margin-top: -45px;
    font-weight: 500;
}

#play-circle {
    display: flex;
    background: rgb(6, 2, 83);
    background: linear-gradient(90deg, rgb(14, 1, 133) 0%, rgb(81, 73, 150) 44%, rgb(18, 6, 117) 100%);
    height: 45px;
    width: 45px;
    border-radius: 50px;
    align-content: stretch;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
}

.price {
    width: 200px;
    font-size: larger;
    border-radius: 30px;
    color: rgb(248, 245, 245);
    background: rgb(6, 2, 83);
    background: linear-gradient(90deg, rgb(14, 1, 133) 0%, rgb(81, 73, 150) 44%, rgb(18, 6, 117) 100%);
}

#play-tri {
    border-top: 14px solid transparent;
    border-bottom: 14px solid transparent;
    border-left: 15px solid rgb(248, 245, 245);
    margin-left: 6px;
}

.btn-last a {
    font-size: 18px;
    margin-left: 15px;
    margin-top: 10px;
    text-decoration: none;
    color: aliceblue;
}

/* .dl1 {
    border-top: 3px solid white;
    width: 275px;
    position: absolute;
    left: 26%;
    margin-left: -3px;
    top: 250px;
    z-index: 11;
}

.main-dl2 {
    left: 70%;
    margin-left: -17px;
    top: 309px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: transparent;
    position: absolute;
    z-index: 7;
    opacity: 0;
}

.dl2 {
    border-left: 6px solid white;
    height: 300px;
    position: absolute;
    left: 25%;
    top: 30px;
}

.dl2:hover {
    opacity: 0;
}

.main-dl2:hover {
    opacity: 1;
} */
